body {
    color: aliceblue;
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding: 0px;
    margin: 0px;
    background: url(bg.jpeg);
    background-size: 2000px;
    background-repeat: no-repeat;
    position: relative;
}

.left {
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;


}

.mid {
    display: block;
    width: 33%;
    margin: 20px auto;


}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;


}

.left div {
    text-align: center;
}

.left img {
    width: 100px;

}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 22px;
}

.navbar li a {
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
}

.navbar li a:hover,
.navbar li a.active {
    color: gray;
    text-decoration: underline;
}

.btn {
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(26, 21, 29);
    color: rgb(74, 81, 175);
}

.container {
    border: 3px solid white;
    padding: 75px;
    margin: 100px 80px;
    width: 33%;
    border-radius: 25px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11 px auto;
    font-size: 25px;
    border-radius: 8px;


}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 74%;
    margin: 20 px auto;
}

#submit{
    width: 500px;
}